<h2>Hi, {{student}}</h2>
<h4>Welcome to GymPoint!</h4>
<p>Thank you for joining our community! Here is your inscription detatils:</p>
<p>
  <strong>Your ID: <span style="color: red;">{{studentId}}</span></strong> <br>
  <strong>Plan: </strong>{{plan}} <br>
  <strong>Monthly fee: </strong>US$ {{fee}} <br>
  <strong>Total amount: </strong>US$ {{amount}} <br>
  <strong>End date: </strong>{{endDate}}. <br>
  <br>
  <p>
    We hope you'll enjoy our facilities and make great use of them!
  </p>
</p>
